*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    /* background-color: coral; */
    /* background-color: cornflowerblue; */
    background: linear-gradient(35deg, red, blue);
    /* background-color:#e3f9ff ; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    /* background: cadetblue; */
    background: linear-gradient(90deg, orange , yellow);
    /* background: #3a4452; */
    padding: 20px;
    border-radius:10px ;
}
.calculator form input{
    margin: 13px;
    width: 80px;
    height: 60px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
    background: linear-gradient(90deg, orange , yellow);
    font-size: 30px;
    color:black;
    cursor: pointer;
    
    

}
.calculator form input:hover{
    opacity: 0.7;
}

form .visible{
    /*background-color: brown; */
    background: linear-gradient(#e66465, #9198e5);
    display:flex;
    justify-content: flex-end;
    margin:0px 0;
}
form .visible input{
    text-align: right;
    flex: 1;
    font-size:35px;
    box-shadow: none;
}
form input.equal{
    background-color: sandybrown;
    /* width: 170px; */
    /* color:yellowgreen; */
}
form input.Arthemetic{
     background-color: sandybrown;

}
form input.Arthemetic1{
    color: red;
    /* color:aliceblue; */
    
}
form input.Arthemetic1:hover{
    opacity: 0.7;
}
